.left-content {
    display: flex;
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.contact-container {
    font-family: 'Jura', sans-serif;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 95%;
    position: relative;
}

.contact-header {
    display: flex;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.contact-header h1 {
    font-size: calc(3.5vw + 3.5vh);
    display: flex;
    text-transform: uppercase;
    font-family: 'Rubik Mono One', sans-serif;
}

 /*LINES */
.contact-line {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #ffffff;
    border-radius: 20px;
}

.contact-container h4 {
    font-size: calc(1.5vw + 1vh);
    color: #469191;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.contact-container button {
    font-family: 'Jura', sans-serif;
}


.contact-footer {
    width: 100%;
    height: calc(1.5vw + 22.5vh);
    display: flex;
    flex-direction: column;
}

/* INPUTS */
.contact-footer input {
    width: 95%;
    font-family: 'Jura', sans-serif;
    display: flex;
    padding: 10px;
    background-color: #1f1f23; /* Цвет фона */
    font-size: 16px; /* Размер текста */
    border: none;
    margin: 7px;
    color: #ffffff;
}

.contact-footer input:focus {
    outline: none;
    border-color: #466e6e !important; /* Изменение цвета границы при фокусе */
    background-color: #aab1b1; /* Светлый фон при фокусе */
}

.contact-description {
    min-height: 150px; /* Минимальная высота */
}



/*BUTTONS*/

.button-contact {
    margin-top: 5%;
    font-family: 'Jura', sans-serif;
    background-color: #232328; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    padding: 10px 20px;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    align-self: flex-end;
    font-size: calc(1vw + 1vh);
    /*transform: translateX(-25%);*/
}

.button-contact:hover {
    background-color: #466e6e; /* Цвет фона при наведении */
}