.special-style .background-video, .special-style-for4 .background-video {
    border-radius: 14px;
    width: 28.5% !important;
    height: 30vh !important;
    position: absolute;
    /*transform: translate(207px, -28px); !* X = 207px, Y = 50px *!*/
}


.special-style .content-box, .special-style-for4 .content-box {
    flex-direction: row;
    padding: 10vh !important;
}


.special-style .image, .special-style-for4 .image {
    padding-bottom: 10vh !important;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1); /* Увеличение изображения */
}

.special-style .about-text h2 {
    transform: translateY(-10vh) !important;
    font-size: calc(2.5vw + 3vh);
}

.special-style .about-text p {
    transform: translateX(100px);
}



.special-style-for4 .about-text h2 {
    transform: translateY(-10vh) !important;
    font-size: calc(2.5vw + 1.5vh);
}

.special-style-for4 .about-text p {
    transform: translateX(10vh) !important;
}



.special-style-for5 .content-box {
    flex-direction: row;
    padding-left: 5vh !important;
}


.special-style-for5 .image {
    width: calc(25vw + 4.5vh);
}

.special-style-for5 .background-video {
    width: calc(70% + 3vw);
}