/* Контейнер, в котором будет находиться текст */
body {
    padding: 0 5%; /* Добавляем отступы по бокам */
    background: #000000;
    scroll-behavior: smooth; /* Плавные переходы */
}

.subtitle-container {
    width: 100%;
    height: 50vh;
    background: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; /* Скрываем текст, который выходит за пределы блока */
}

/* Каждый параграф с текстом */
.subtitle-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Анимация для каждого абзаца текста */
.subtitle {
    display: block;
    color: white; /* Цвет текста */
    font-size: 1.5rem; /* Размер шрифта */
    line-height: 1.5;
    opacity: 0; /* Сначала текст невидим */
    animation: slideUp 5s ease-in-out forwards;
}

/* Создание задержки анимации для каждого параграфа */
.subtitle:nth-child(1) {
    animation-delay: 0s;
}
.subtitle:nth-child(2) {
    animation-delay: 1s;
}
.subtitle:nth-child(3) {
    animation-delay: 2s;
}
.subtitle:nth-child(4) {
    animation-delay: 3s;
}
.subtitle:nth-child(5) {
    animation-delay: 4s;
}
.subtitle:nth-child(6) {
    animation-delay: 5s;
}
.subtitle:nth-child(7) {
    animation-delay: 6s;
}
.subtitle:nth-child(8) {
    animation-delay: 7s;
}
.subtitle:nth-child(9) {
    animation-delay: 8s;
}
.subtitle:nth-child(10) {
    animation-delay: 9s;
}

/* Анимация появления и движения текста */
@keyframes slideUp {
    0% {
        transform: translateY(100%); /* Начинаем снизу */
        opacity: 0; /* Текст невидим в начале */
    }
    20% {
        transform: translateY(0); /* Текст появляется в своей позиции */
        opacity: 1; /* Текст становится видимым */
    }
    75% {
        transform: translateY(-30%); /* Текст немного смещается вверх */
        opacity: 1; /* Текст все еще видим */
    }
    100% {
        transform: translateY(-100%); /* Текст уходит вверх */
        opacity: 0; /* Текст исчезает */
    }
}
