.about-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #37eacf;
    position: relative;
}

@font-face {
    font-family: 'Luminari';
    src: url("/Users/skillbox/WebstormProjects/port/fonts/Luminari.ttf") format('ttf');
    font-weight: normal;
    font-style: normal;
}

.about-section h1 {
    font-family: 'Luminari', serif;
    font-size: calc(5vw + 3.5vh);
    text-transform: uppercase;
    position: relative;
}

.about-box {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.first-box {
    border-radius: 5vw;
    border: 0.2vw solid rgba(255, 255, 255, 0.42);
    width: calc(58vw - 4vh);
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
.content-box {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    overflow: hidden;
    gap: 1rem;
    position: relative;
    padding: 2vh 0.7vw 11vh;
    width: 100%;
}

.first-box::before {
    content: "";
    position: absolute;
    top: 87%; /* Размещаем полоску по середине блока */
    left: 3px; /* Оставляем отступ от левого края, чтобы полоска не выходила за пределы границ */
    width: calc(100% - 6px); /* Ширина полоски будет немного меньше ширины блока (с учетом border) */
    height: 3px; /* Высота полоски */
    background-color: rgba(255, 255, 255, 0.42); /* Цвет полоски */
    z-index: 1; /* Полоска будет поверх фона, но под изображением */
}

.about-text {
    font-family: 'Luminari', serif;
    padding-right: 1vw;
    font-size: 3vh;
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

.about-text p {
    font-family: 'Jura', sans-serif;
    color: #37eacf;
    transition: transform 0.5s ease-in-out;
    text-align: left;
}

.about-text h2 {
    font-family: 'Major Mono Display', sans-serif;
    font-size: calc(2vw + 3vh);
    transform: translateY(-40px);
    transition: transform 0.5s ease-in-out;

}

.number {
    font-family: 'Londrina Shadow', cursive;
    font-size: calc(7vw + 5.5vh);
    position: absolute;
    top: 0; /* Подстройте, если нужно */
    transform: translate(30%, -130%);
    z-index: 2;
    /* Маска для эффекта плавного исчезновения снизу */
    /*-webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 1%, rgba(0,0,0,0) 50%);*/
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 1%, rgba(0,0,0,0) 65%);
    transition: opacity 0.5s ease;
}

.number.fade {
    opacity: 0; /* Элемент исчезает при переключении */
}

.first-box a, .second-box a {
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.github-link i {
    font-size: 24px; /* Размер иконки */
    margin-right: 10px; /* Отступ между иконкой и текстом */
}

.first-box.changed img {
    animation: moveImageLeft 0.5s ease-out;
}

.second-box.changed img {
    animation: moveImageRight 0.5s ease-out;
}



/* Стрелки по бокам */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.42);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2; /* Чтобы стрелки были поверх контента */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавные анимации */
}

.left-arrow {
    left: 10px; /* Стрелка слева */
}

.right-arrow {
    right: 10px; /* Стрелка справа */
}

/* Эффект выделения и свечения при наведении */
.arrow:hover {
    color: #37eacf;
    transform: translateY(-60%) scale(1.5); /* Увеличиваем размер стрелки */
    box-shadow: 0 0 20px rgb(55, 234, 207); /* Свечение */
}

/* Иконки стрелок */
.arrow i {
    font-size: 24px;
    color: white;
}

.content-box a {
    font-family: 'Jura', sans-serif;
}



/*.image-video-container {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*    overflow: hidden;*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 57vh; !* Размер контейнера *!*/
/*    transition: transform 0.3s ease, box-shadow 0.3s ease;*/
/*}*/

/*.image-video {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.image {*/
/*    width: 100%;*/
/*    object-fit: cover;*/
/*    display: flex;*/
/*    position: relative;*/
/*    transition: transform 0.5s ease-in-out;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.background-video {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    background-color: #d36b6b;*/
/*    position: absolute;*/
/*    width: 75%;*/
/*    height: 80%;*/
/*    top: 0;*/
/*    !**!*/
/*    z-index: -1;*/
/*    transform: translateY(7%);*/
/*}*/


.image-video-container {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    position: relative;
    width: 100%;
    height: 57vh; /* Размер контейнера */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Контейнер с изображением iPhone */
.image-container {
    position: relative;
    width: 275px !important;
    height: 500px !important;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Изображение iPhone */
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* Блок для экрана iPhone */
.image-screen {
    position: absolute;
    width: 76%;
    height: 90%;
    overflow: hidden;
    border-radius: 20px; /* Скругление углов экрана */
}

/* Видео внутри экрана */
.image-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Видео будет заполнять экран без искажения пропорций */
}
