<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link rel="stylesheet" href="../css/web.css">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&display=swap" rel="stylesheet">

    <!--  icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="content-container">
    <header>
        <div class="head-left">
            <p><a href="#">A & Z</a></p>
        </div>
        <div class="head-right bounce-in-right">
            <p><a href="#">Главное меню</a></p>
            <p><a href="#">Проекты</a></p>
            <p><a href="#">Обо мне</a></p>
            <p><a href="#">Скиллы</a></p>
        </div>
    </header>

    <section class="content-section autoBlur">
        <div class="image-box fade-in code">
            <img class="photo" src="../assets/images/me.jpg" alt="Фотография">
        </div>
        <div class="text-box">
            <div class="window-content">
                <div class="icons">
                    <i class="ellipse">
                        <i class="line1"></i>
                        <i class="line2"></i>
                    </i>
                    <i class="ellipse2">
                        <i class="line"></i>
                    </i>
                    <i class="ellipse3">
                        <i class="polygon"></i>
                        <i class="polygon2"></i>
                    </i>
                </div>

                <div class="html-icon">
                    <img class="verst" src="../assets/images/1.webp" alt="">
                </div>

                <div class="text-block">
                    <p class="subtitle">PYTHON - DEVELOPER</p>
                    <h1 class="name">Альмир Залитов</h1>

                    <p class="intro">
                        Программирование на языках Python, JavaScript, Java.<br>
                        Frontend/Backend - разработка. Исправление и доработка<br>
                        существующих проектов, experienced - пользователь.
                    </p>
                    <div class="buttons">
                        <a href="https://t.me/c/2286869017/173" class="button-message-me">
                            напиши мне
                        </a>
                    </div>
                </div>
                <div class="code-box">
                    <pre>
                        <span style="color: #ED4186;">&lt;/body&gt;
                            <span style="color: #E8BD51;">&lt;/h3&gt;<span style="color: #ffffff; ">PYTHON - DEVELOPER</span>&lt;/h3&gt;
                            &lt;/h1&gt;<span style="color: white;">Альмир Залитов</span>&lt;/h1&gt;</span>
                            &lt;/span&gt;
                                <span style="color: white;">Программирование на языках

                                Python, JavaScript, Java.
                                Frontend/Backend - разработка.
                                Исправление и доработка
                                существующих проектов,
                                experienced - пользователь.</span>
                            &lt;/span&gt;
                            <span style="color: #E8BD51;">&lt;/button&gt;<span style="color: white;">text</span>&lt;/button&gt;</span>
                        &lt;/body&gt;
                        </span>
                    </pre>
                </div>
            </div>
        </div>
        <div class="one-box">
            <div class="mouse">
                <div class="wheel"></div>
            </div>
            <div>
                <span class="unu"></span>
                <span class="doi"></span>
                <span class="trei"></span>
            </div>
        </div>
    </section>

    <section class="about-section active autoBlur">
        <h1>проекты</h1>
        <div class="about-box">
            <div class="first-box">
                <p class="number">01</p>
                <div class="content-box">
                    <div class="about-text">
                        <h2>Megano - shop</h2>
                        <p>Интернет - магазин Мегано.</p>
                    </div>
                    <a href="https://t.me/c/2286869017/173" class="github-link">
                        <i class="fab fa-github"></i> посмотрите в Github ↩
                    </a>
                    <div class="image-video-container">
                        <div class="image-video">
                            <video autoplay muted loop playsinline class="background-video">
                                <source src="../assets/movies/Itachi-Uchiha-Moonlight-Killer.mp4" type="video/mp4">
                            </video>
                            <img src="../assets/images/мак.png" alt="macbook" class="image">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Стрелка влево -->
            <div class="arrow left-arrow">
                <i class="fas fa-chevron-left"></i>
            </div>
            <!-- Стрелка вправо -->
            <div class="arrow right-arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </section>

    <section class="skills-section active autoBlur">
        <video autoplay muted loop playsinline class="skills-video">
            <source src="../assets/movies/skills-back.mp4" type="video/mp4">
        </video>
        <h1>Скиллы</h1>
        <div class="scrollbox">
            <div class="scroll" style="--time:20s">
                <div>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>Figma</span>
                    <span>Python</span>
                    <span>Pytest</span>
                    <span>Nginx</span>
                    <span>Kotlin</span>
                    <span>Docker</span>
                    <span>Flask</span>
                </div>
                <div>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>Figma</span>
                    <span>Python</span>
                    <span>Pytest</span>
                    <span>Nginx</span>
                    <span>Kotlin</span>
                    <span>Docker</span>
                    <span>Flask</span>
                </div>
            </div>
            <div class="scroll scroll-right" style="--time:30s">
                <div>
                    <span>Celery</span>
                    <span>FastAPI</span>
                    <span>SQLAlchemy</span>
                    <span>PostgreSQL</span>
                    <span>MySQL</span>
                    <span>Django</span>
                    <span>Postman</span>
                    <span>Ubuntu</span>
                    <span>Git</span>
                    <span>GitLab</span>
                    <span>GitHub</span>
                </div>
                <div>
                    <span>Celery</span>
                    <span>FastAPI</span>
                    <span>SQLAlchemy</span>
                    <span>PostgreSQL</span>
                    <span>MySQL</span>
                    <span>Django</span>
                    <span>Postman</span>
                    <span>Ubuntu</span>
                    <span>Git</span>
                    <span>GitLab</span>
                    <span>GitHub</span>
                </div>
            </div>
            <div class="scroll" style="--time:25s">
                <div>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Premiere Pro</span>
                    <span>Figma</span>
                    <span>Angular</span>
                    <span>Node JS</span>
                </div>
                <div>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Premiere Pro</span>
                    <span>Figma</span>
                    <span>Angular</span>
                    <span>Node JS</span>
                </div>
            </div>
            <div class="scroll" style="--time:40s">
                <div>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Premiere Pro</span>
                    <span>Figma</span>
                    <span>Angular</span>
                    <span>Node JS</span>
                </div>
                <div>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Premiere Pro</span>
                    <span>Figma</span>
                    <span>Angular</span>
                    <span>Node JS</span>
                </div>
            </div>

            <div class="scroll imgBox" style="--time:25s">
                <div>
                    <img src="../assets/images/html.png" alt="">
                    <img src="../assets/images/css.png" alt="">
                    <img src="../assets/images/js.png" alt="">
                    <img src="../assets/images/figma.png" alt="">
                    <img src="../assets/images/photoshop.png" alt="">
                    <img src="../assets/images/html.png" alt="">
                    <img src="../assets/images/html.png" alt="">
                    <img src="../assets/images/html.png" alt="">
                    <img src="../assets/images/html.png" alt="">
                </div>
                <div>
                    <img src="../assets/images/html.png" alt="">
                    <img src="../assets/images/css.png" alt="">
                    <img src="../assets/images/js.png" alt="">
                    <img src="../assets/images/figma.png" alt="">
                    <img src="../assets/images/photoshop.png" alt="">
                    <img src="../assets/images/html.png" alt="">
                    <img src="../assets/images/html.png" alt="">
                    <img src="../assets/images/html.png" alt="">
                    <img src="../assets/images/html.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="section-about-me autoBlur">
        <div class="left-content">
            <div class="window-contact-me">
                <div class="contact-container">
                    <div class="contact-header">
                        <h1>заявка</h1>
                        <div class="contact-line"></div>
                    </div>
                    <h4>Готовы к новым возможностям?</h4>
                    <div class="contact-footer">
                        <input class="contact-name" placeholder="Введите свое имя" type="text" name="name">
                        <input class="contact-email" placeholder="Введите ваш email" type="email" name="email">
                        <input class="contact-description" placeholder="Описание" type="text" name="message">
                        <button class="button-contact" type="submit">отправить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-content">
            <div class="text-content">
                <div class="text-about-me masking-container">
                    <h1 class="masked-text">Есть проект? Ищете команду для его реализации?<br>
                        Давайте объединим усилия и создадим нечто уникальное!<br>
                        Свяжитесь со мной.
                    </h1>
                    <div class="scroll-footer">
                        <div class="scrolling"></div>
                    </div>
                </div>
            </div>
            <div class="social-link-block">
                <div class="links-container">
                    <div class="fisrt">
                        <a href="https://t.me/c/2286869017/173">
                            <i class="fab fa-github" style="color: white; font-size: calc(1.5vh + 1.5vw)"></i>
                        </a>
                    </div>
                    <div class="second">
                        <a href="https://t.me/c/2286869017/173">
                            <i style="color: #4C75A3;font-size:calc(1.5vh + 1.5vw)" class="fa fa-vk"></i>
                        </a>
                    </div>
                    <div class="three">
                        <a href="https://t.me/c/2286869017/173">
                            <i style="color: #63c3f4;font-size:calc(1.5vh + 1.5vw)" class="fa fa-telegram"></i>
                        </a>
                    </div>
                </div>
                <div class="line-for-links"></div>
            </div>
        </div>
    </section>
    <footer>
        <p class="az">A & Z</p>
        <p>Portfolio ©2025</p>
        <p>zalitov2015@mail.ru</p>
    </footer>
</div>

<script src="../js/main.js"></script>
</body>
</html>
