<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portfolio</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Major+Mono+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <!--  icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

</head>
<body>
<div class="container">
    <header>
        <div class="head-right">
            <p><a href="#">Главное меню</a></p>
            <p><a href="#">Проекты</a></p>
            <p><a href="#">Обо мне</a></p>
            <p><a href="#">Скиллы</a></p>
        </div>
    </header>

    <section class="hero-section autoBlur">
        <div class="hero-vid fade-in code">
            <video autoplay muted loop playsinline class="hero-video">
                <source src="../../assets/movies/background.MOV" type="video/mp4">
            </video>

            <img class="photo" src="../../assets/images/me2.jpg" alt="Фотография">
        </div>

        <div class="text-box bounce-in-left">
            <p class="subtitle">PYTHON - DEVELOPER</p>
            <h1 class="name">Альмир Залитов</h1>

            <p class="intro">
                Программирование на языках Python, JavaScript, Java.<br>
                Frontend/Backend - разработка. Исправление и доработка<br>
                существующих проектов, experienced - пользователь.
            </p>
            <div class="buttons">
                <a href="https://t.me/c/2286869017/173" class="button-message-me btn hire-btn">
                    напиши мне
                </a>
            </div>
        </div>
    </section>

    <section class="about-section active autoBlur">
        <h1>проекты</h1>
        <div class="about-box">
            <div class="first-box">
                <p class="number">01</p>
                <div class="content-box">
                    <div class="about-text">
                        <h2>Megano - shop</h2>
                        <p>Интернет - магазин Мегано.</p>
                    </div>
                    <a href="https://t.me/c/2286869017/173" class="github-link">
                        <i class="fab fa-github"></i> посмотрите в Github ↩
                    </a>
                    <div class="image-video-container">
                        <video autoplay muted loop playsinline class="background-video">
                            <source src="../../assets/movies/Itachi-Uchiha-Moonlight-Killer.mp4" type="video/mp4">
                        </video>
                        <img src="../../assets/images/мак.png" alt="macbook" class="image">
                    </div>
                </div>
            </div>
            <!-- Стрелка влево -->
            <div class="arrow left-arrow">
                <i class="fas fa-chevron-left"></i>
            </div>
            <!-- Стрелка вправо -->
            <div class="arrow right-arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
    </section>
</div>

<script src="../js/main.js"></script>
</body>
</html>